@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-space-item{
    width: 100%;
}

.swiper-button-prev::after, .swiper-button-next::after{
    color: #025BAA;
    font-size: 35px !important;
}

.ant-rate-star{
    margin-inline-end: 0 !important;
}